In [7]:

import warnings 
warnings.filterwarnings("ignore")
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

data = pd.read_csv("E:\DSTUTORIALS\loanpayment.csv")
#print(data.head(5))

data['Principal'].unique()
data['loan_status'].unique()

le=preprocessing.LabelEncoder()
data['loan_status']=le.fit_transform(data['loan_status'])
data['Gender']=le.fit_transform(data['Gender'])
data['education']=le.fit_transform(data['education'])
data['past_due_days']=le.fit_transform(data['past_due_days'])
print(data)

#print(data.head(5))
data.groupby('loan_status')['Gender'].agg(['count'])

data2 = data
data2.drop('Loan_ID', axis=1, inplace=True)

data2.drop('effective_date', axis=1, inplace=True)
data2.drop('due_date', axis=1, inplace=True)
data2.drop('paid_off_time', axis=1, inplace=True)

y = data2['loan_status'].values
X = data2.drop('loan_status', axis=1).values

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,
                                                    random_state = 0)
dt = tree.DecisionTreeClassifier()
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)
dt_score_train = dt.score(x_train, y_train)
print("Training score: ",dt_score_train)
dt_score_test = dt.score(x_test, y_test)
print("Testing score: ",dt_score_test)
cm = confusion_matrix(y_test,y_pred)
print(cm)
print(classification_report(y_test,y_pred))


#Random Forest Classifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
rfc_score_train = rfc.score(x_train, y_train)
print("Training score: ",rfc_score_train)
rfc_score_test = rfc.score(x_test, y_test)
print("Testing score: ",rfc_score_test)

scores = pd.DataFrame({
        'Model'          : ['Decision Tree', 'Random Forest'],
        'Training_Score' : [dt_score_train, rfc_score_train],
        'Testing_Score'  : [dt_score_test, rfc_score_test]
    })
scores.sort_values(by='Testing_Score', ascending=False)

         Loan_ID  loan_status  Principal  terms effective_date    due_date  \
0    xqd20166231            2       1000     30     09-08-2016  10-07-2016
1    xqd20168902            2       1000     30     09-08-2016  10-07-2016
2    xqd20160003            2       1000     30     09-08-2016  10-07-2016
3    xqd20160004            2       1000     15     09-08-2016   9/22/2016
4    xqd20160005            2       1000     30     09-09-2016  10-08-2016
..           ...          ...        ...    ...            ...         ...
495  xqd20160496            1       1000     30     09-12-2016  10-11-2016
496  xqd20160497            1       1000     15     09-12-2016   9/26/2016
497  xqd20160498            1        800     15     09-12-2016   9/26/2016
498  xqd20160499            1       1000     30     09-12-2016  11-10-2016
499  xqd20160500            1       1000     30     09-12-2016  10-11-2016

        paid_off_time  past_due_days  age  education  Gender
0     9/14/2016 19:31             83   45          1       1
1    10-07-2016 09:00            173   50          0       0
2     9/25/2016 16:58            172   33          0       0
3     9/22/2016 20:00            171   27          3       1
4     9/23/2016 21:36            170   28          3       0
..                ...            ...  ...        ...     ...
495  10/14/2016 19:08              2   28          1       1
496  10-10-2016 20:02             11   26          1       1
497   9/29/2016 11:49              2   30          3       1
498  11-11-2016 22:40              0   38          3       0
499  10/19/2016 11:58              7   28          1       1

[500 rows x 11 columns]
Training score:  1.0
Testing score:  0.99
[[25  0  0]
 [ 1 17  0]
 [ 0  0 57]]
              precision    recall  f1-score   support

           0       0.96      1.00      0.98        25
           1       1.00      0.94      0.97        18
           2       1.00      1.00      1.00        57

    accuracy                           0.99       100
   macro avg       0.99      0.98      0.98       100
weighted avg       0.99      0.99      0.99       100

Training score:  1.0
Testing score:  0.98

           Model  Training_Score  Testing_Score
0  Decision Tree             1.0           0.99
1  Random Forest             1.0           0.98

In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,\
    classification_report
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

data = pd.read_csv("E:\DSTUTORIALS\loanpayment.csv")
#print(data.head(5))

data['Principal'].unique()
data['loan_status'].unique()
data

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,09-08-2016,10-07-2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,09-08-2016,10-07-2016,10-07-2016 09:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,09-08-2016,10-07-2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,09-08-2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,09-09-2016,10-08-2016,9/23/2016 21:36,NaN,28,college,female
5,xqd20160706,PAIDOFF,300,7,09-09-2016,9/15/2016,09-09-2016 13:45,NaN,35,Master or Above,male
6,xqd20160007,PAIDOFF,1000,30,09-09-2016,10-08-2016,10-07-2016 23:07,NaN,29,college,male
7,xqd20160008,PAIDOFF,1000,30,09-09-2016,10-08-2016,10-05-2016 20:33,NaN,36,college,male
8,xqd20160909,PAIDOFF,1000,30,09-09-2016,10-08-2016,10-08-2016 16:00,NaN,28,college,male
9,xqd20160010,PAIDOFF,800,15,09-10-2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
10,xqd20160011,PAIDOFF,300,7,09-10-2016,9/16/2016,09-11-2016 19:11,NaN,29,college,male
11,xqd20160012,PAIDOFF,1000,15,09-10-2016,10-09-2016,10-09-2016 16:00,NaN,39,High School or Below,male
12,xqd20160013,PAIDOFF,1000,30,09-10-2016,10-09-2016,10-07-2016 23:32,NaN,26,college,male
13,xqd20160014,PAIDOFF,900,7,09-10-2016,9/16/2016,9/13/2016 21:57,NaN,26,college,female
14,xqd20160015,PAIDOFF,1000,7,09-10-2016,9/16/2016,9/15/2016 14:27,NaN,27,High School or Below,male
15,xqd20160016,PAIDOFF,800,15,09-10-2016,9/24/2016,9/24/2016 16:00,NaN,26,college,male
16,xqd20160017,PAIDOFF,1000,30,09-10-2016,10-09-2016,9/27/2016 14:21,NaN,40,High School or Below,male
17,xqd20160018,PAIDOFF,1000,15,09-10-2016,9/24/2016,9/23/2016 18:49,NaN,32,High School or Below,male
18,xqd20160019,PAIDOFF,1000,30,09-10-2016,10-09-2016,10-05-2016 22:05,NaN,32,High School or Below,male
19,xqd20160020,PAIDOFF,800,30,09-10-2016,10-09-2016,9/23/2016 7:42,NaN,26,college,male
20,xqd20160021,PAIDOFF,1000,30,09-10-2016,10-09-2016,10-09-2016 09:00,NaN,26,college,male
21,xqd20160022,PAIDOFF,1000,30,09-10-2016,10-09-2016,10-08-2016 17:09,NaN,43,High School or Below,female
22,xqd20160023,PAIDOFF,1000,30,09-10-2016,10-09-2016,10-09-2016 23:00,NaN,25,High School or Below,male
23,xqd20160024,PAIDOFF,1000,15,09-10-2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
24,xqd20160025,PAIDOFF,1000,30,09-10-2016,10-09-2016,10-03-2016 12:50,NaN,26,college,male
25,xqd20160026,PAIDOFF,1000,30,09-10-2016,10-09-2016,9/29/2016 12:18,NaN,29,High School or Below,male
26,xqd20160027,PAIDOFF,800,15,09-10-2016,9/24/2016,9/21/2016 20:16,NaN,39,Bechalor,male
27,xqd20170088,PAIDOFF,1000,15,09-10-2016,9/24/2016,9/23/2016 8:21,NaN,34,Bechalor,male
28,xqd20160029,PAIDOFF,1000,30,09-11-2016,10-10-2016,9/22/2016 19:17,NaN,31,college,male
29,xqd20160030,PAIDOFF,1000,30,09-11-2016,10-10-2016,10-09-2016 17:33,NaN,33,college,male
...,...,...,...,...,...,...,...,...,...,...,...
470,xqd20160471,COLLECTION_PAIDOFF,1000,15,09-12-2016,9/26/2016,9/28/2016 15:02,2.0,32,High School or Below,male
471,xqd20160472,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,11-04-2016 14:46,24.0,27,Bechalor,male
472,xqd20160473,COLLECTION_PAIDOFF,800,15,09-12-2016,9/26/2016,11/16/2016 12:12,51.0,33,college,male
473,xqd20160474,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/14/2016 19:02,3.0,30,High School or Below,male
474,xqd20160475,COLLECTION_PAIDOFF,800,15,09-12-2016,9/26/2016,9/28/2016 11:34,2.0,26,High School or Below,female
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,11-09-2016 18:12,29.0,35,college,female
476,xqd20160477,COLLECTION_PAIDOFF,800,15,09-12-2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female
477,xqd20160478,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/20/2016 17:38,9.0,27,college,male
478,xqd20160479,COLLECTION_PAIDOFF,1000,15,09-12-2016,10-11-2016,11-07-2016 08:55,27.0,22,High School or Below,male
479,xqd20160480,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10-12-2016 18:26,1.0,27,Bechalor,male
480,xqd20160481,COLLECTION_PAIDOFF,1000,15,09-12-2016,9/26/2016,10/25/2016 13:44,29.0,30,Bechalor,male
481,xqd20160482,COLLECTION_PAIDOFF,1000,15,09-12-2016,9/26/2016,9/29/2016 15:07,3.0,27,High School or Below,male
482,xqd20160483,COLLECTION_PAIDOFF,800,15,09-12-2016,9/26/2016,9/27/2016 11:40,1.0,47,college,male
483,xqd20160484,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/18/2016 19:08,7.0,30,college,male
484,xqd20160485,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/15/2016 9:23,4.0,26,college,male
485,xqd20160486,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/14/2016 10:07,3.0,38,High School or Below,male
486,xqd20160487,COLLECTION_PAIDOFF,800,15,09-12-2016,9/26/2016,11/21/2016 11:36,56.0,46,High School or Below,male
487,xqd20160488,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/13/2016 12:02,2.0,35,Bechalor,male
488,xqd20160489,COLLECTION_PAIDOFF,1000,15,09-12-2016,9/26/2016,10-09-2016 19:30,13.0,45,college,male
489,xqd20160490,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10-12-2016 18:04,1.0,36,college,male
490,xqd20160491,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/17/2016 10:53,6.0,38,High School or Below,male
491,xqd20160492,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,11-09-2016 13:41,29.0,27,college,male
492,xqd20160493,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/25/2016 17:44,14.0,27,Bechalor,male
493,xqd20160494,COLLECTION_PAIDOFF,1000,15,09-12-2016,9/26/2016,9/29/2016 12:45,3.0,29,college,male
494,xqd20160495,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/13/2016 14:45,2.0,30,High School or Below,male
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,09-12-2016,9/26/2016,10-10-2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,09-12-2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,09-12-2016,11-10-2016,11-11-2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,09-12-2016,10-11-2016,10/19/2016 11:58,8.0,28,High School or Below,male